<table class="centered w-100">
  <tr class="centered">
    <td colspan="2">
    <div class="centered w-50 d-initial font-weight-bolder">Detected entities</div>
    <br/>
    <!-- NER -->
    <mat-checkbox class="ml-2 mr-2" checked="checked" *ngIf="token.statistical_features.bert_subwords_original.ner[0].indexOf('NOENT') == -1">{{token.statistical_features.bert_subwords_original.ner[0].split('-')[1]}} </mat-checkbox>
    <hr/>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <!-- NLTK -->
      <div class="centered w-50 d-initial font-weight-bolder">Suggested Entities</div>
      <br/>
      <mat-checkbox *ngFor="let item of token.linguistic_features.tessaurus.hypernyms" class="ml-2 mr-2">{{item.toUpperCase()}}</mat-checkbox>
      <!-- Neo4J -->
      <mat-icon class="{{iconNewNerClass}}" aria-hidden="false" aria-label="Add Entity" (click)="showNewNER()">add_circle_outline</mat-icon>
      <mat-form-field class="{{newNerClass}}">
        <mat-label>Entity</mat-label>
        <input [autocomplete]="'off'" matInput placeholder="Ex. ORG" #input (input)="input.value=$event.target.value.toUpperCase(); validateNER($event.target.value);" (keyup.enter)="saveNER($event.target.value);" value="{{nerValue}}">
        <mat-hint *ngIf="!validNer" class="red">{{invalidNerMessage}}</mat-hint>
      </mat-form-field>
      <hr/>
    </td>
  </tr>
  <tr>
    <td colspan="2"> <div class="centered w-50 d-initial font-weight-bolder">Linguistic Features</div></td>
  </tr>
  <tr>
    <td class="pr-3">
      <label class="sr-only .col-form-label-sm" for="ORTH">Text</label>
      <div class="input-group ">
        <div class="input-group-prepend">
          <div class="input-group-text  w-120">Text</div>
        </div>
        <input class="form-control .form-control-sm" id="ORTH" disabled="disabled" type="text"
               value="{{token.linguistic_features.orth}}">
      </div>
    </td>
    <td>
    <label class="sr-only .col-form-label-sm" for="CLEANSED" >Cleansed</label>
    <div class="input-group ">
      <div class="input-group-prepend">
        <div class="input-group-text  w-120">Cleansed</div>
      </div>
      <input class="form-control .form-control-sm" id="CLEANSED" type="text" (input)="this.cleansed = $event.target.value"
             value="{{token.linguistic_features.orth}}">
    </div>
    </td>
  </tr>
  <tr>
    <td class="pr-3 ta-left">
      <div class="input-group-prepend  d-inline-block">
        <div class="input-group-text w-120">Numeric</div>
      </div>
      <mat-checkbox class="ml-2 mr-2" checked="checked" (change)="this.isNum = $event.checked" *ngIf="token.linguistic_features.is_num"></mat-checkbox>
      <mat-checkbox class="ml-2 mr-2" (change)="this.isNum = $event.checked" *ngIf="!token.linguistic_features.is_num"></mat-checkbox>
    </td>
    <td class="ta-left">
      <div class="input-group-prepend  d-inline-block">
        <div class="input-group-text w-120">Alphabetic</div>
      </div>
      <mat-checkbox class="ml-2 mr-2" checked="checked" (change)="this.isAlpha = $event.checked" *ngIf="token.linguistic_features.is_alpha"></mat-checkbox>
      <mat-checkbox class="ml-2 mr-2" (change)="this.isAlpha = $event.checked" *ngIf="!token.linguistic_features.is_alpha"></mat-checkbox>
    </td>
  </tr>
  <tr>
    <td class="pr-3">
      <label class="sr-only .col-form-label-sm" for="LEMMA">Lemma</label>
      <div class="input-group ">
        <div class="input-group-prepend">
          <div class="input-group-text w-120">Lemma</div>
        </div>
        <input class="form-control .form-control-sm" id="LEMMA" type="text" (input)="this.lemma = $event.target.value"
               value="{{token.linguistic_features.lemma}}">
      </div>
    </td>
    <td>
    <label class="sr-only .col-form-label-sm" for="STEM">Stem</label>
    <div class="input-group ">
      <div class="input-group-prepend">
        <div class="input-group-text w-120">Stem</div>
      </div>
      <input class="form-control .form-control-sm" id="STEM" type="text" (input)="this.stem = $event.target.value"
             value="{{token.linguistic_features.stem}}">
    </div>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <label class="sr-only .col-form-label-sm" for="POS">POS</label>
      <div class="input-group ">
        <div class="input-group-prepend">
          <div class="input-group-text w-120">POS</div>
        </div>
        <select name="" id="POS" class="form-control" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
          <option *ngFor="let item of POS" value="{{item}}" [selected]="selectedPOS === item">{{item}}</option>
        </select>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2"> <div class="centered w-50 d-initial font-weight-bolder">Statistical Features</div></td>
  </tr>
  <tr *ngFor="let sentence of generatedSynSentences; index as s" class="ta-right">
    <td colspan="2" class="suggestion ta-right"><span *ngFor="let word of sentence; index as i" [className]="getClassName(i)">
      {{getText(i, word)}}</span>
        <button class="btn btn-primary ta-right ml-10 mr-10" (click)="setCorrect(generatedSynSentences,SYNONYMS, s, true);">Correct</button><button class="btn btn-danger" (click)="setCorrect(generatedSynSentences,SYNONYMS, s, false);">Wrong</button>
    </td>
  </tr>
  <tr *ngFor="let sentence of generatedAntSentences; index as s"  class="ta-right">
    <td colspan="2" class="suggestion"><span *ngFor="let word of sentence; index as i" [className]="getClassName(i)">
      {{getText(i, word)}}</span>
      <button class="btn btn-primary ta-right ml-10 mr-10" (click)="setCorrect(generatedAntSentences,ANTONYMS, s, true);">Correct</button><button class="btn btn-danger" (click)="setCorrect(generatedAntSentences,ANTONYMS, s, false);">Wrong</button>
    </td>
  </tr>
  <tr *ngFor="let sentence of generatedHypSentences; index as s"  class="ta-right">
    <td colspan="2" class="suggestion"><span *ngFor="let word of sentence; index as i;" [className]="getClassName(i)">
      {{getText(i, word)}} </span>
      <button class="btn btn-primary ta-right ml-10 mr-10" (click)="setCorrect(generatedHypSentences,HYPERNYMS, s, true);">Correct</button><button class="btn btn-danger" (click)="setCorrect(generatedHypSentences,HYPERNYMS, s, false);">Wrong</button>
    </td>
  </tr>
  <tr *ngFor="let sentence of generatedSimSentences; index as s"  class="ta-right">
    <td colspan="2" class="suggestion"><span *ngFor="let word of sentence; index as i" [className]="getClassName(i)">
      {{getText(i, word)}}</span>
      <button class="btn btn-primary ta-right ml-10 mr-10" (click)="setCorrect(generatedSimSentences,SIMILAR, s, true);">Correct</button><button class="btn btn-danger" (click)="setCorrect(generatedSimSentences,SIMILAR, s, false);">Wrong</button>
    </td>
  </tr>

  <tr class="ta-right">
    <td colspan="2" class="suggestion">
      <button type="button" class="btn btn-primary" (click)="saveChanges()">Save</button>
      <button type="button" class="btn btn-danger" (click)="cancelChanges()">Back</button>
    </td>
  </tr>

</table>
