.title {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 38px;
  color: #518fd2;
  vertical-align: middle;
}

.subtitle {
  color: gray;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
}
