<div id="wrapper">
    <div class="centered" id="top">
      <img class="centered mt-5" src="/assets/images/newtea.png" height="100px" width="250px" alt="TeaNLP">
    </div>
  <div id="middle">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Train"><app-train></app-train></mat-tab>
      <mat-tab label="Extract"><app-extract></app-extract></mat-tab>
      <mat-tab label="Analyze"><app-analyze></app-analyze></mat-tab>
    </mat-tab-group>
  </div>
  <div id="bottom">
    <input type="button">
  </div>
</div>
