<div id="wrapper">
    <div class="centered" id="top">
      <img class="centered" src="../assets/images/graphNLP_logo.png" height="100px" alt="TeaNLP">
      <!--<span class="title">graphNLP</span>-->
      <br/>
      <span class="subtitle">Powered by BERT and Neo4j</span>
    </div>
  <div id="middle">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Supervise"><app-train (alerts)="alert($event)" (processing)="process(['BERT Tokenizer', 'Linguistic Features with NLTK', 'BERT Embeddings', 'BERT NER', 'Neo4J NER'])" (processed)="stopProcess()"></app-train></mat-tab>
      <mat-tab label="Extract"><app-extract (alerts)="alert($event)" (processing)="process(['extract'])" (processed)="stopProcess()"></app-extract></mat-tab>
      <mat-tab label="Analyze"><app-analyze (alerts)="alert($event)" (processing)="process(['analyze'])" (processed)="stopProcess()"></app-analyze></mat-tab>
    </mat-tab-group>
    <ngx-alerts></ngx-alerts>
  </div>
</div>

<ng-template #processing let-modal>
  <!--<div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">{{message}}...</h2>
  </div>-->
  <div class="modal-body">
    <div class="form-group">
      <div class="input-group">
        <table class="w-90">
          <tr class="centered">
            <td>
              <img src="../../assets/images/processing.gif" width="250px">
            </td>
          </tr>
          <tr class="centered">
            <td>
              <p class="header-text">Processing</p>
              <hr/>
              <p class="header-subtext">...{{message}}...</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</ng-template>
