<div id="wrapper">
    <div class="centered" id="top">
      <img class="centered mt-2" src="/assets/images/newtea.png" height="100px" width="250px" alt="TeaNLP">
    </div>
  <div id="middle">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Train"><app-train (alerts)="alert($event)" (processing)="process()" (processed)="stopProcess()"></app-train></mat-tab>
      <mat-tab label="Extract"><app-extract (alerts)="alert($event)" (processing)="process()" (processed)="stopProcess()"></app-extract></mat-tab>
      <mat-tab label="Analyze"><app-analyze (alerts)="alert($event)" (processing)="process()" (processed)="stopProcess()"></app-analyze></mat-tab>
    </mat-tab-group>
    <ngx-alerts></ngx-alerts>
  </div>
</div>

<ng-template #processing let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Processing...</h2>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="input-group">
        <table class="w-90">
          <tr class="centered">
            <img src="../../assets/images/processing.gif" width="450px">
          </tr>
        </table>
      </div>
    </div>
  </div>
</ng-template>
