table.TeaTable {
  width: 100%;
  text-align:center;
  border-collapse: collapse;
  height:100%;
}

textarea {
  width: 50%;
  max-width: 600px;
  height: 250px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border: None;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  font-weight: 100;
}

.output {
  width: 50%;
  min-height: 250px;
  max-width: 600px;
  background-color: white;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 10px 10px 10px 10px;
  font-weight: 100;
  text-align: left;
}


mark.token {
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  border-width: 2px;
  border-color: #5e6770;
  border-style: dashed;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
  line-height: 1.7;
  display: inline-grid;
  margin-top: 2px;
  margin-bottom: 2px;
}

mark.noun {
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  border-width: 2px;
  border-color: #00e1ff;
  border-style: dashed;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
  line-height: 1.7;
  display: inline-grid;
  margin-top: 2px;
  margin-bottom: 2px;
}


mark.verb {
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  border-width: 2px;
  border-color: #dd80ff;
  border-style: dashed;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
  line-height: 1.7;
  display: inline-grid;
  margin-top: 2px;
  margin-bottom: 2px;
}

mark.adj {
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  border-width: 2px;
  border-color: #6eb000;
  border-style: dashed;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
  line-height: 1.7;
  display: inline-grid;
  margin-top: 2px;
  margin-bottom: 2px;
}


mark.adv {
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  border-width: 2px;
  border-color: #de0d0d;
  border-style: dashed;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
  line-height: 1.7;
  display: inline-grid;
  margin-top: 2px;
  margin-bottom: 2px;
}


mark.token:hover {
  background-color: #5e6770;
  margin-left: 5px;
  margin-right: 5px;
  border-width: 2px;
  border-color: #5e6770;
  border-style: dashed;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
  line-height: 1.7;
  display: inline-grid;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}

mark.noun:hover {
  background-color: #00e1ff;
  margin-left: 5px;
  margin-right: 5px;
  border-width: 2px;
  border-color: #00e1ff;
  border-style: dashed;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
  line-height: 1.7;
  display: inline-grid;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}


mark.adj:hover {
  background-color: #6eb000;
  margin-left: 5px;
  margin-right: 5px;
  border-width: 2px;
  border-color: #6eb000;
  border-style: dashed;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
  line-height: 1.7;
  display: inline-grid;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}


mark.adv:hover {
  background-color: #de0d0d;
  margin-left: 5px;
  margin-right: 5px;
  border-width: 2px;
  border-color: #de0d0d;
  border-style: dashed;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
  line-height: 1.7;
  display: inline-grid;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}

mark.verb:hover {
  background-color: #dd80ff;
  margin-left: 5px;
  margin-right: 5px;
  border-width: 2px;
  border-color: #dd80ff;
  border-style: dashed;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
  line-height: 1.7;
  display: inline-grid;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}


mark.disabled_token {
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  border-width: 0px;
  border-style: none;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
  line-height: 1.9;
  cursor: not-allowed;
}

#full-height-wrapper {
  height:100%;
  width:100%;
  background-color:#3445af;
}
#full-height-wrapper-comp {
  background-color:#3445af;
  height: 800px;
}

.token-modal
{
  max-width: 800px !important;
  width: 800px !important;
}

mat-icon {
  cursor: pointer;
}
