<div id="full-height-wrapper">
  <div id="full-height-wrapper-comp">
    <table class="TeaTable">
      <tr class="indigo-bg">
        <td class="indigo-bg">
          <label>
            <textarea placeholder="Insert your text here..." [mat-autosize]="false" (change)="changeInputArea($event.target.value)" [ngModel]="text"></textarea>
          </label>
        </td>
      </tr>
      <tr class="indigo-bg">
        <td class="indigo-bg">
          <input type="button" value="Process" (click)="tokenize()">
        </td>
      </tr>
      <tr class="indigo-bg">
        <td class="indigo-bg">
          <div class="output">
            <span *ngFor="let token of tokens">
              <mark *ngIf="token !== '\n'" class="token">{{token}}</mark>
              <br *ngIf="token == '\n'">
            </span>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
