svg {
  overflow: auto !important;
}

.graphborder {
  border-width: 5px;
  border-color: #ececec;
  border-style: solid;
  display: block;
}

mark.word {
  background-color: #e5ace9;
  border-width: 2px;
  border-color: #e5ace9;
  padding-left: 7px;
  padding-right: 7px;
  line-height: 1.7;
  display: inline-grid;
  margin: 2px 5px;
}


mark.statistical {
  background-color: #c7ee8e;
  border-width: 2px;
  border-color: #c7ee8e;
  padding-left: 7px;
  padding-right: 7px;
  line-height: 1.7;
  display: inline-grid;
  margin: 2px 5px;
}


mark.linguistic {
  background-color: #76b1e5;
  border-width: 2px;
  border-color: #76b1e5;
  padding-left: 7px;
  padding-right: 7px;
  line-height: 1.7;
  display: inline-grid;
  margin: 2px 5px;
}

